
@media (max-width: 1199px){
    .btn-customize{
        margin-bottom: 20px;
    }       
}
@media (max-width: 1190px){
    #courses .p-3{
        padding: 1.6rem!important;;
    }
}

 @media (max-width: 991px){
    .sign-in-button{
        padding: .1rem 1rem;
        width: 25%;
    }
    .online-courses .btn-customize{
        padding: .2rem 1.7rem;
    }
    
} 

@media (max-width: 767px){
    #testimonial .client-image{
        flex: none;
        margin: auto;
        margin-bottom: 1rem;
    }
    #footer .quotes{
        padding: 0 .5rem;
    }
    #courses 
}
@media (max-width: 496){
    .sign-in-button{
        padding: .1rem 1rem;
        width: 20%;
    }
}

